<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>RENT</h2>
    <div id="app">
      <p>
        <router-link :to="{ name: 'Reservation', params: { reservation_id: msg }}">134534</router-link>
      </p>
      <p>{{ rent_id }}</p>
      <input v-model="msg">
      <router-view></router-view>
    </div>
  </div>

</template>

<script>

export default {
  name: 'Rent',
  data () {
    return {
      msg: 'RENT ME',
      rent_id: 'reservation_id'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
