<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h1>{{ $route.params.reservation_id }}</h1>
    I am reservation content
    <ul>
      <router-view></router-view>
</ul>

</div>

</template>

<script>

export default {
  data () {
    return {
      msg: 'Reservations'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
